<?xml version="1.0"?>
<phpunit
	bootstrap="tests/php/unit/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnWarning="true"
	failOnRisky="true"
	cacheResult="false"
	>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/php/unit</directory>
		</testsuite>
	</testsuites>
</phpunit>
